﻿body {
}
.divCM_25{
    width:25%;
}

.highcharts-yaxis-grid .highcharts-grid-line {
    display: none;
}

.highcharts-title {
    color: #66667f !important;
    font-size: 14px !important;
    fill: #666666 !important;
}

.highcharts-credits {
    cursor: pointer;
    color: #ffffff !important;
    font-size: 9px;
    fill: #ffffff !important;
}
.hc-cat-title {
    font-size: 13px;
    font-weight: bold;
}

.highcharts-button-symbol {
    display: none !important;
}


@media (min-width: 1200px) {
    .container {
        width: 90% !important;
    }
}

.highcharts-button-box{
    display:none;
}

.highcharts-point highcharts-color-0 {
    fill: rgba(200, 8, 21, 0.05) !important;
}

.navbar-inverse {
    display: none;
}


.encabezado {
    padding-bottom: 3%;
    /*position: absolute;
    float: right;
    width: 74%;
    top: 5%;
    left: 20%;*/
}

.panel-heading {
    font-size: 40px;
    text-align: center;
    padding: 0px !important;
    /*border-bottom: 1px solid transparent;*/
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.margin_8 {
    margin-bottom: 4%;
    margin-top: 2%;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.chart--container {
    min-height: 150px;
    width: 100%;
    height: 100%;
}

.zc-ref {
    display: none;
}
