﻿body {    
    padding-top: 0px !important;
}
.divCM_10 {
    width: 10%;
}
.container {
    width: 90%;
}
.divDespliegue {
    text-align: center;
}
.stickyDocumentos {
    position: -webkit-sticky;
    position: sticky;
    top: -83px;
    /*background-color: rgba(255,255,255,0.9);*/
    z-index: 1;
}
.divTopTrContainer {
    text-align: center;
    line-height: 0;
    background-color: rgb(255, 255, 255);
}

#tbDifferent {
    width: 90%;
    white-space: nowrap;
    /*margin-top: 20px;*/
    /*border-bottom: 1.5px solid #585858;*/
    display: inline-block;
    /*margin-bottom: 10px;*/
    margin-top: 2%;
}
.topArchivo {
    min-width: 110px;
}
.col-2 {
    width: 12.5%;
}
.h6TopDocumentos {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #c80815;
}
table {
    width: 100%;
    height: 95%;
    margin-top: 2%;
   font-size: 20px !important;
    margin-bottom: 6% !important;
}
div.todo-panel {
    margin-top: 0%;
}
.margin_8 {
    margin-bottom: 4%;
    margin-top: 2%;
}
table tr.done {
    text-decoration: line-through;
    color: #888;
}
/*.table-hover > tbody > tr:hover {
    background-color: #f3aaaf !important;
}*/
.panel-heading {
   
    font-size: 40px;
    text-align: center;
    padding: 0px !important;
    /*border-bottom: 1px solid transparent;*/
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: none !important; 
}

td, th {
    text-align: center;
    padding: 8px;
}
.table > tbody > tr > th {
    border-top: none !important;
}
tr:nth-child(even) {
    background-color: rgba(200, 8, 21, 0.05) !important;    
}
.table-hover > tbody > tr:hover {
    background-color: white ;
}
.table-hover > tbody > td:hover {
    background-color: rgba(200, 8, 21, 0.05) !important;
}
#container {
    min-width: 204px;
    max-width: 0%;
    margin: 0 auto;
    text-align: center;
    float: right;
    margin-bottom: 1%;
    margin-top: 1%;
}

.encabezado {
    padding-bottom: 3%;
    /*position: absolute;
    float: right;
    width: 74%;
    top: 5%;
    left: 20%;*/
}

.navbar-inverse {
    display: none;
}