﻿
@{
    ViewData["Title"] = "BoardKPI";
}
<link href='~/css/BoardKPI.css' rel="stylesheet">

<div class="margin_8">
    <div class="text-left">
        <div>
            <div class="encabezado">
                <div class="panel-heading">
                    @ViewData["Title"]
                    <img style="float:left;" width="100" src="~/Images/RSI.png" />
                    <img style="float:right;" width="250" src="~/Images/TechPlayRoom.png" />
                </div>
            </div>
        </div>
    </div>

    <div>
        <div>
            <div class="">
                <div id="myChart" class="chart--container">
                    <a class="zc-ref" href="https://www.zingchart.com/">Powered by ZingChart</a>
                </div>
            </div>
          
            </div>
        </div>




</div>


<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
<script src="~/js/Humedad.js"></script>
<script src="~/js/MaxAndMin.js"></script>

