﻿
@{
    ViewData["Title"] = "Órdenes Almacén Tijuana";
}

<link href='~/css/OrdenesAlmacenes.css' rel="stylesheet">

<div id="app" class="">
    <div class="divDespliegue todo-panel ">  
        <div class="stickyDocumentos">
            @*<div width="100" id="container"></div>*@
            <div class="margin_8">
                <div id="tbDifferent">

                    <div class="text-left">
                        <div>
                            <div class="encabezado">
                                <div class="panel-heading">
                                    @ViewData["Title"]
                                    <img style="float:left;" width="100" src="~/Images/RSI.png" />
                                    <img style="float:right;" width="250" src="~/Images/TechPlayRoom.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-hover">
                        <tr>
                            <th class="col-2 topArchivo">
                                <h6 class="h6TopDocumentos">No. Orden</h6>
                            </th>
                            <th class="col-2 topArchivo">
                                <h6 class="h6TopDocumentos">Cantidad</h6>
                            </th>
                            <th class="col-2 topArchivo">
                                <h6 class="h6TopDocumentos">Tipo de Movimiento</h6>
                            </th>
                            <th class="col-2 topArchivo">
                                <h6 class="h6TopDocumentos">Fecha Registro</h6>
                            </th>
                            <th class="col-2 topArchivo">
                                <h6 class="h6TopDocumentos">Fecha Atención</h6>
                            </th>
                            <th class="col-2 topArchivo">
                                <h6 class="h6TopDocumentos">Montacarga</h6>
                            </th>
                            <th class="col-2 topArchivo">
                                <h6 class="h6TopDocumentos">Status</h6>
                            </th>
                        </tr>
                        <tr v-for="i in ordenesTijuana" >
                            <td>{{ i.idOrden }}</td>
                            <td>{{ i.cantidad }}</td>
                            <td>{{ i.tipoMovimiento }}</td>
                            <td>{{ i.fechaRegistroFormateada  }} </td>
                            <td>{{ i.fechaAtencionFormateada  }}</td>
                            <td>{{ i.montacargas.idMontacargas }}</td>
                            <td>{{ i.status }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"
        integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"
        asp-fallback-src="~/lib/axios/axios.min.js">
</script>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"
        integrity="sha256-TaLceMwjWRqe4yhbqPOJH6V7UGt5AvvdNfpaIXJWbFU=" crossorigin="anonymous"
        asp-fallback-src="~/lib/vue/vue.min.js">
</script>

@*<script src="https://cdn.jsdelivr.net/npm/vue-toasted@1.1.24/dist/vue-toasted.min.js"
            integrity="sha256-U/GRA233dggPGk2zkJ797oJRW5aHmc7C6wzxIEOw/kI=" crossorigin="anonymous"
            asp-fallback-src="~/lib/vue-toasted/vue-toasted.min.js">
    </script>*@
<script src="~/js/OrdenesAlmacen.js"></script>


